Which stocks were sold with the highest volume?
Which stocks were sold with the lowest volume?

In [1]:
# Import the libraries and data into pandas dataframes.
import pandas as pd
import numpy as np
gold = pd.read_csv(r"D:\OneDrive - klein.bz\B  KLEIN\.SIGI DOX\LSE Data Analysis\Exercises\Course_2\Module_2\Data\LSE_DA201_Module_2_files\Data\gold_stocks_price.csv")
oil = pd.read_csv(r"D:\OneDrive - klein.bz\B  KLEIN\.SIGI DOX\LSE Data Analysis\Exercises\Course_2\Module_2\Data\LSE_DA201_Module_2_files\Data\oil_price.csv")

In [ ]:
# Check the shape, column headers, datatypes of the dataframes.
print(gold.shape), print (oil.shape), print(list(gold.columns)), print(list(oil.columns)), print(gold.dtypes), print(oil.dtypes)

In [33]:
# Check the dataframes for missing data.
print(gold.isnull().sum()), print(oil.isnull().sum())

Date             0
Open             0
High             0
Low              0
Close            0
                ..
USO_High         0
USO_Low          0
USO_Close        0
USO_Adj Close    0
USO_Volume       0
Length: 81, dtype: int64
Date     0
Price    0
Open     0
High     0
Low      0
Vol.     0
dtype: int64

(None, None)

In [35]:
# Read subset of the gold dataframe using usecols and nrows
gold_subset = pd.read_csv(r"D:\OneDrive - klein.bz\B  KLEIN\.SIGI DOX\LSE Data Analysis\Exercises\Course_2\Module_2\Data\LSE_DA201_Module_2_files\Data\gold_stocks_price.csv",
                         usecols=['Date','Open','High','Low'],nrows=500)

gold_subset.shape

(500, 4)

In [39]:
# You can also select columns and limit rows on the existing dataframe.
gold_subset1 = gold[['Date','Open','High','Low']].head(500)

gold_subset1

           Date        Open        High         Low
0    2011-12-15  154.740005  154.949997  151.710007
1    2011-12-16  154.309998  155.369995  153.899994
2    2011-12-19  155.479996  155.860001  154.360001
3    2011-12-20  156.820007  157.429993  156.580002
4    2011-12-21  156.979996  157.529999  156.130005
..          ...         ...         ...         ...
495  2014-01-27  121.650002  122.059998  120.720001
496  2014-01-28  121.320000  121.400002  120.410004
497  2014-01-29  122.190002  122.510002  121.129997
498  2014-01-30  119.669998  120.220001  119.599998
499  2014-02-03  120.470001  122.110001  120.320000

[500 rows x 4 columns]

In [41]:
# Check the datatypes for the subset
gold_subset.dtypes

Date     object
Open    float64
High    float64
Low     float64
dtype: object

In [47]:
# Determine missing values for the subset
gold_subset.isna().sum()

Date    0
Open    0
High    0
Low     0
dtype: int64

In [49]:
# Statistical analysis
gold_subset.describe()

             Open        High         Low
count  500.000000  500.000000  500.000000
mean   149.033480  149.774340  148.266740
std     16.923214   16.919180   16.871447
min    117.580002  118.180000  116.739998
25%    132.134998  133.144997  131.192501
50%    155.070000  155.610001  154.360001
75%    161.862500  162.577500  161.149994
max    173.199997  174.070007  172.919998

In [57]:
# The mean can also be found using mean

gold_subset['Open'].mean()

149.03348024399997

In [53]:
# Statistical analysis
oil.describe()

             Price         Open         High          Low
count  1844.000000  1844.000000  1844.000000  1844.000000
mean     70.443980    70.481242    71.319707    69.552413
std      23.501399    23.485367    23.505822    23.424742
min      26.210000    27.300000    27.480000    26.050000
25%      49.062500    49.077500    49.710000    48.240000
50%      65.380000    65.295000    66.020000    64.315000
75%      94.602500    94.530000    95.592500    93.652500
max     110.530000   110.280000   112.240000   109.110000